
    <div class="dropdown btn btn-info">
      <select name="a-block">
        <option value="">スポーツ</option>
        <option value="1">サッカー</option>
        <option value="2">野球</option>
        <option value="3">テニス</option>
        <option value="4">ゴルフ</option>
        <option value="5">ラグビー</option>
        <option value="6">ラクロス</option>
        <option value="7">バスケットボール</option>
        <option value="8">バレーボール</option>
        <option value="9">フットサル</option>
        <option value="10">卓球</option>
        <option value="11">バドミントン</option>
        <option value="12">ハンドボール</option>
        <option value="13">ボウリング</option>
        <option value="14">水泳</option>
        <option value="15">ダンス</option>
        <option value="16">登山</option>
        <option value="17">よさこい</option>
      </select>
    </div>






