/*
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "dropzone/dropzone";
@import 'lightbox';

//google maps api
#map {
  height: 400px;
}


#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}





//margin
.margin-right-10 {
  margin-right: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.padding-right-0 {
  padding-right: 0;
}

//header
.image .caret {
  margin-top: 20px;
}

.navbar .image {
    width: 65px;
  }

.header-border {
  border-bottom: 1px solid #e7e7e7;
}

.header-nav > li {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.header-nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
  padding: 0;
}

//manageページ
.sidebar-navbar-collapse {
    margin-bottom: 20px;
  }

.navbar-default .navbar-collapse {
    border-color: white;
}

.sidebar-nav li:hover {
  color: #f5f5f5;
}

//teamのshow
.well {
  background-color: white;
  margin-top: 10px;
}


//全体
body {
    background-color: white;
}

footer {
  margin-top: 50px;
}




@media (max-width: 541px){
  .margin-top-minus {
    margin-top: -28px;
  }
}

//タブレット以下
@media (max-width: 768px){
//全体
  #toast-container {
    margin-top: 50px;
  }

  .team-title{
    font-size: 20px;
    font-weight: bold;
  }

   .child-center {
    line-height: 80px;
  }

  .text-center {
    line-height: 34px;
  }

  .teamphotos {
    margin-bottom: 20px;
  }

  .container {
    margin-bottom: 30px;
  }

  .map {
    margin-top: 20px;
  }

  .panel-body {
    padding: 5px;
  }

  .ul-unstyled {
    margin: 0;
  }

  .popover-content .text-right {
    margin-bottom: 0;
  }

  .speaker {
    padding: 0;
  }

  .messages {
    margin-bottom: 20px;
  }

//header
  .navbar .container-fluid {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .navbar .img-responsive {
    width: 78%;
  }

  .navbar .row {
    margin-top: 10px;
  }

  .navbar .sport {
    height: 34px;
    font-size: 12px;
    padding: 0;
  }

  .navbar .image {
    padding-right: 0;
    padding-top: 5px;
  }

  .navbar-toggle {
    margin-top: 0;
    margin-bottom: 15px;
  }


//slideshow
  #slideshow {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black;
  }

  #slideshow p {
    float: left;
    position: absolute;
    color: white;
    font-size: 2.5em;
    z-index: 10;
    font-weight: bold;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  #slideshow img {
     position: absolute;
     top: 0;
     left:0;
     z-index: 7;
     opacity: 0.0;
  }
  #slideshow img.active {
     z-index: 9;
     opacity: 0.5;
  }
  #slideshow img.last-active {
     z-index: 8;
  }

//topページ
  .top-teams {
    margin-top: 20px;
  }

//全体
  .wrap {
    overflow: hidden;
    width: 100%;
    margin-top: -30px;
  }

//teams/new
  .panel .form-control {
    margin-bottom: 20px;
  }

//image プレビュー
  .imagePreview {
    width: 50%;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
  }

}

//タブレット以上
@media (min-width: 769px){

//全体
  #toast-container {
    margin-top: 110px;
  }

//header
  .navbar .image {
    width: 80px;
  }


  .navbar .search {
    height: 34px;
  }

  .header-nav > li {
    padding: 0px 30px 0px 0px;
  }

  .header-nav {
    margin-top: -12 !important;
    float: none;
    width: 300px;
  }

  .header-nav-sign > li {
    padding: 20px 30px 10px 30px;
  }

  .header-nav-sign {
    margin: 0 auto;
    float: none;
    width: 740px;
  }

//slideshow
  #slideshow {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
  }

  #slideshow p {
    float: left;
    position: absolute;
    color: white;
    font-size: 3em;
    z-index: 10;
    font-weight: bold;
    font-family: sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  #slideshow img {
     position: absolute;
     top: 0;
     left:0;
     z-index: 7;
     opacity: 0.0;
  }
  #slideshow img.active {
     z-index: 9;
     opacity: 0.5;
  }
  #slideshow img.last-active {
     z-index: 8;
  }
}

//タブレット以下
@media (max-width: 991px){
  .margin-top-10 {
    margin-top: 10px;
  }

  .nav > li {
    padding:20px;
  }
}















.navbar-default {
    background: white;
    border-color: white;
    z-index: 10;
    min-height: 70px;
}

.container-fluid {
  min-height: 70px;
}



.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 13px;
}

.navbar-default .navbar-brand {
    color: black;
    margin-top: 10px;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

//navbar-deviseのcss
.navbar-devise {
    background: #fff;
    border-color: #fff;
    z-index: 10;
}

.navbar-devise .navbar-nav > li > a {
    color: #222222;
    font-size: 13px;
}

.navbar-devise .navbar-brand {
    color: #222222;
}

// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}

//facebookボタン
.btn-facebook {
    color: #fff;
    background-color: #4c66a4;
}

// row-space類
.row-space-top-0 {
  margin-top: 0px;
}

.row-space-top-1 {
  margin-top: 10px;
}

.row-space-top-2 {
  margin-top: 15px;
}

.row-space-top-3 {
  margin-top: 20px;
}

.row-space-top-4 {
  margin-top: 25px;
}

.row-space-0 {
  margin-bottom: 0px;
}
.row-space-1 {
  margin-bottom: 10px;
}

.row-space-2 {
  margin-bottom: 15px;
}

.row-space-3 {
  margin-bottom: 20px;
}

.row-space-4 {
    margin-bottom: 25px;
}

// プロフィール画像
.profile-0 {
    width: 28px !important;
    height: 28px !important;
}

.profile-1 {
  width: 50px !important;
  height: 50px !important;
}

.profile-2 {
  width: 100px !important;
  height: 100px !important;
}

.profile-full {
  width: 30% !important;
  height: 80px !important;
}

@media (min-width: 992px){
.profile-full {
        width: 100% !important;
        height: 180px !important;
    }    
}

.btn-full {
    width: 100%;
}

.vertification-checked:before{
  content: "\f00c";
  font-family: FontAwesome;
  position: relative;
  z-index: 100;
  top:2px;
  font-size: 1.55em;
  text-align: center;
  width: 1.25em;
  color: #00d1c1;
}


@media (min-width: 768px) {

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sidebar-nav .navbar-default .navbar-nav > li > a {
    color: #222;
    font-size: 16px;
}

.sidebar-nav .navbar-default .navbar-nav > li{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff
}

.sidebar-nav .navbar-default .navbar-nav > li:first-child {
    border-top: 1px solid #ddd;
}

.sidebar-nav .navbar-toggle {
    background-color: #337ab7;
}

// dropzone.jsのcss
@media (max-width: 768px){
.dropzone{
  padding: 0;
}
  .dz-preview, .dz-processing, .dz-image-preview, .dz-error, .dz-complete {
    margin-right: 0!important;
    margin-left: 0!important;
    margin-bottom: 40px;
    width: 50%;
    height: 100px;
    padding: 0 2px;
  }

  .dropzone .dz-preview {
    margin:16px 0px 30px 0px;
  }

  .dropzone .dz-preview .dz-image {
    width: 100%;   
    height: 100%;
  }

  .dropzone .dz-preview .dz-image img {
    height: 100%;    
  }

  .dropzone .dz-preview .dz-remove {
    line-height: 30px;
    font-size: 20px;
  }
}

.dropzone .dz-preview .dz-image img{
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.dropzone .dz-preview .dz-image {
  border-radius: 0;
}

.dropzone.dz-started .dz-message {
  display: block;
  margin: 20px 0 0 0;
}

.dropzone .dz-preview .dz-remove {
    font-size: 18px;
}


// listings/indexのcss
a.sidebar-item {
  font-size: 16px;
  color: #222;
}

.sidebar-list li.active {
  font-weight: bold;
}

.ul-unstyled{
  list-style: none; padding-left: 0;
}

li.panel-body {
    border-top: 1px solid #eeeeee;
}

li.panel-body:first-child {
  border-top: none;
}

span.listing-title {
  font-size: 18px;
}

.row-table{
  display: table;
  table-layout: fixed;
  width: 100%; 
}

.col-middle{
  vertical-align: middle;
  display: table-cell;
  float: none;
}

.panel-list-img {
  height: 61px;
}

.panel-list-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px){
  .row-table, .col-middle{
    display: block;
  }

  .panel-list-img {
    height: 170px;
  }
}

// showページのcss
.container-listing-show {
  background-color: #fff;
  border-bottom: 1px solid #dce0e0;
}

.panel-show {
  border-radius: 0px;
  border: none;
}

.panel-show .panel-heading{
  background-color: rgba(60,63,64,0.9);
  color: #fff;
  border-radius: 0px;
  border-bottom: 0px;
}

.panel-show .panel-body{
  border: 1px solid #eee;
}

.btn-wide{
  width: 85%;
}

//showページのデスクトップcss
@media (min-width: 992px){
  .panel-show {
    position: inherit;
    width: 296px;
    z-index: 100;
    margin-top: -62px;
  }
}

// showページの近いリスティングのcss
.panel-listing img {
  width: 100%;
  height: 180px;
}








// Top-search-fieldのcss
.top-search-field {
  height: 90px; 
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  background: rgba(0,0,0,0.6);
}




// フッターのCSS
footer {
    padding: 20px 0;
    text-align: center;
    background: #2b2d2e;
    height:160px;
}
footer {
    display: block;
}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    color: #fff
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #d9534f;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

li.text-white a{
  color: #fff
}

ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}



section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
}

a {
  color: #222;
}

body {
    color: #222;
}

.navbar-transparent{
  background: transparent;
  border-color: transparent;
}

.navbar {
  margin-bottom: 0px;
}
.container {
  margin-top: 30px;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-header .address {
  padding: 0px;
}

.navbar-header .form {
  margin: 20px 0px;
}

.practice h3 {
  margin-top: 0px;
}

.practice-pic-box {
  height: 100px;
}

textarea {
  resize: none;
}

td .number-field {
  width: 70px;
}


.teams{
  display: flex;
  flex-wrap: wrap;
}

.teams .practice-box {
  flex: 0 0 100%;
  position: relative;
  
}
.teams .practice-box::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.teams .practice-box div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.teams .practice:nth-child(even) div {
  background: #eee;
}


.teams .team-box {
  flex: 0 0 28%;
  position: relative;
  margin: 20px 20px 50px 20px ;
}
.teams .team-box::before {
  content: '';
  display: block;
  padding-top: 100%;
}
.teams .team-box div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.teams .team-box:nth-child(even) div {
  background: #eee;
}
.bg-white {
  background-color: white;
}

.bottom {
  position: absolute;
  bottom: 0;
}


.practice-box {
  height: 200px;
}

.navbar-header {
  float:none;
  
}



.btn-block {
  width :60%;
  margin: 20px auto 0px auto;
}



ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #d9534f;
}













